.sidebar {
    @media (min-width: 768px) {
        width: 320px;
    }
}

.sidebar-menu {
    width: 100%;
    border: none;
}

.sidebar-menu-opener {
    bottom: 16px;
    left: 16px;
    z-index: 100;

    @media print {
        display: none;
    }
}
