@use "@frozik/components/styles/colors.scss" as colors;

.page {
  padding: 0 40px;
  color: colors.$gray-1;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  .controls {
    margin: 20px 0 0;
  }

  @media (width <= 600px) {
    padding: 0;
  }

}
