@use "@frozik/components/styles/colors.scss" as colors;

$field-gap: 4;
$field-group-gap: 1;
$field-controls-margin: 10;

.field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.field {
  display: inline-grid;
  gap: #{$field-gap}px;
  padding: #{$field-gap}px;
  overflow: hidden;
  background: colors.$gray-11;
  user-select: none;

  &--completed {
    background: rgba(colors.$green-4, 0.5);
  }

  &-group {
    display: grid;
    gap: #{$field-group-gap}px;

    .cell {
      background: colors.$gray-9;
      color: colors.$gray-7;
      display: flex;
      cursor: pointer;

      &.cell-highlight {
        font-weight: bold;
        color: colors.$blue-6;
        text-shadow: 0 0 10px colors.$gray-13;
      }

      &.cell--wrong {
        color: colors.$red-3;
        text-shadow: 0 0 10px colors.$gray-13;
      }

      &--fixed {
        color: colors.$gray-5;
        cursor: not-allowed;

        &.cell-highlight {
          color: colors.$blue-5;
        }

        &.cell--wrong {
          color: colors.$red-5;
          text-shadow: 0 0 10px colors.$gray-13;
        }
      }

      &--value {
        align-items: center;
        justify-content: center;
      }

      &--notes {
        display: grid;
        place-items: center;

        .note--selected {
          color: colors.$blue-6;
          text-shadow: 0 0 5px colors.$gray-13;
        }
      }
    }
  }
}

.controls {
  margin-top: #{$field-controls-margin}px;
  display: inline-grid;
  gap: #{$field-gap}px;
  padding: #{$field-gap}px;
  overflow: hidden;
  background: colors.$gray-11;
  user-select: none;

  .control-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: colors.$gray-13;
    background: colors.$gray-7;

    &:hover {
      box-shadow: 1px 1px 1px colors.$gray-3, -1px -1px 1px colors.$gray-3;
    }

    &-notes {
      display: grid;
      place-items: center;
    }

    &--selected {
      background: colors.$gray-5;
    }

    &::after {
      content: attr(data-used);
      font-size: 40%;
      position: absolute;
      top: 2px;
      right: 2px;
      text-shadow: 0 0 5px colors.$gray-1, 0 0 10px colors.$gray-1;
    }
  }
}

:export {
  var-field-gap: $field-gap;
  var-field-group-gap: $field-group-gap;
  var-field-controls-margin: $field-controls-margin;
}
